/* Navigation */
header {
    background-color: #303030;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 100%;
    max-width: 1100px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #c57575;
}

.titulo{
    color: rgb(255, 255, 255);
}

body{
    background-color: black;
    font-family: sans-serif;
    color:white
}

