/* Navigation */
header {
    background-color: #303030;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 100%;
    max-width: 1100px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #c57575;
}

.titulo{
    color: rgb(255, 255, 255);
}

body{
    background-color: black;
    font-family: sans-serif;
    color:white
}

/* Estilos para el footer */
footer {
    background-color: #333; /* Color de fondo del footer */
    color: #fff; /* Color del texto del footer */
    padding: 20px; /* Espaciado interno del footer */
    text-align: center; /* Alineación del texto al centro */
    position: fixed; /* Fijar el footer en la parte inferior de la ventana */
    width: 100%; /* Ancho completo del footer */
    bottom: 0; /* Alinear el footer en la parte inferior */
}

/* Estilos para los enlaces del footer */
footer a {
    color: #fff; /* Color del texto del enlace */
    text-decoration: none; /* Eliminar subrayado del enlace */
    padding: 0 10px; /* Espaciado horizontal del enlace */
}

/* Estilos para los enlaces del footer al pasar el cursor sobre ellos */
footer a:hover {
    text-decoration: underline; /* Subrayado del enlace al pasar el cursor */
}
